{% extends 'base.html' %}
{% block title %}VehicleAuctions.com{% endblock %}
{% block header %}

<script>
    //This will highlight the currently selected tab in the navbar
    document.getElementById("navHome").className = "nav-link active";

    //----- Categorical functionality -----
    //
    function filter(elem) {
        var dropdown = document.getElementById("bodyoptions");
        var selection = dropdown.value;
        //Assign html
        //{% raw %}
        var html = `
<div class="flex-container">
{% for listing in listings %}
{% if listing.body_type == '${selection}' %}
<div class="card">
<div class="img_parent">
<img class="card-img-top" src="{{listing.image_data}}" alt="Card image">
</div>
<div class="card-body">
<h4 class="card-title">{{listing.name}}</h4><p class="card-text">{{listing.description}}</p><p style="text-align: left;">Current Bid: {{listing.current_bid}}</p>
<p style="text-align: left;">Bids: {{listing.total_bids}}</p>
<p style="text-align: left;">Status: {{listing.state}}</p>
<a href="{{url_for('listing.show', id=listing.id)}}" class="btn btn-primary">Go to auction</a>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">{{listing.date_listed}}</li>
</ul>
</div>
</div>
{% endif %}
{% endfor %}`;
        //{% endraw %}
        //This was the filter feature, unfortunately cannot get to work properly.
        var content = document.getElementById("index");
        document.getElementById("index").outerHTML = html;
    }

</script>
{% endblock %}
{% block content %}

<div id="filtersection">
    <legend>
        Filters
    </legend>
    <div class="flex-container">
        <div>
            <select name="cars" id="bodyoptions" onChange="filter(this);">
                {% for listing in uniquelistings %}
                <option value="{{listing.body_type}}">{{listing.body_type}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<!-- Use this template to load in the items from the db with jinja2 -->
<div id="index">
    <div class="flex-container">
        {% for listing in listings %}
        <div class="card">
            <div class="img_parent">
                <img class="card-img-top" src="{{listing.image_data}}" alt="Card image">
            </div>
            <div class="card-body">
                <h4 class="card-title">{{listing.name}}</h4>
                <p class="card-text">{{listing.description}}</p>

                <p style="text-align: left;">Current Bid: {{listing.current_bid}}</p>
                <p style="text-align: left;">Bids: {{listing.total_bids}}</p>
                <p style="text-align: left;">Status: {{listing.state}}</p>

                <a href="{{url_for('listing.show', id=listing.id)}}" class="btn btn-primary">Go to auction</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{listing.date_listed}}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}