{% extends 'base.html' %}
{% block title %}Watchlist{% endblock %}
{% block header %}
<!-- This will highlight the currently selected tab in the navbar -->
<script>
  document.getElementById("navbarDropdown").className = "nav-link dropdown-toggle active";
</script>
{% endblock %}
{% block content %}
<div id="div_watchlist" div class="list-group" style="padding-bottom: 100px;">
  <a href="listing.html" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <img id="img_watchlist" class="card-img-top" src="static\img\car1.png" alt="Card image">
      <small>1 days ago</small>
    </div>
    <p class="mb-1">Beautiful 2018 Mclaren</p>
    <small>Bid status: Pending</small>
  </a>
  <a href="listing.html" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <img id="img_watchlist" class="card-img-top" src="static\img\car2.png" alt="Card image">
      <small class="text-muted">5 days ago</small>
    </div>
    <p class="mb-1">2015 porsche</p>
    <small class="text-muted">Bid status: Lost</small>
  </a>
  <a href="listing.html" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <img id="img_watchlist" class="card-img-top" src="static\img\car3.png" alt="Card image">
      <small class="text-muted">04/09/2020</small>
    </div>
    <p class="mb-1">Genesis G70</p>
    <small class="text-muted">Bid status: Lost</small>
  </a>
</div>
{% endblock %}