{% extends 'base.html' %}
{% block header %}
<!-- This will highlight the currently selected tab in the navbar -->
<script>
    document.getElementById("navbarDropdown").className = "nav-link dropdown-toggle active";
</script>

{% endblock %}
{% block content %}
<div id="listingstructure">
    <div class="flex-container">
        <div id="image_section">
            {% block image %}{% endblock %}
        </div>

        <div id="details_section">
            {% block details %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}