{% extends 'base.html' %}
{% block title %}Watchlist{% endblock %}
{% block header %}
<!-- This will highlight the currently selected tab in the navbar -->
<script>
  document.getElementById("navbarDropdown").className = "nav-link dropdown-toggle active";
</script>
{% endblock %}
{% block content %}

{% for listing in listings %}
  <div id="div_watchlist" div class="list-group" style="padding-bottom: 100px;">
    <a href="/listing/{{listing.id}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <img id="img_watchlist" class="card-img-top" src="{{listing.image_data}}" alt="Card image">
        <small>1 days ago</small>
      </div>
      <p class="mb-1">{{listing.name}}</p>
      <small>Bids: {{listing.total_bids}}</small><br>
      <small>Status: {{listing.state}}</small><br>
      <small>Current bid: {{listing.current_bid}}</small><br>
    </a>
  </div>
{% endfor %}
{% endblock %}