{% extends 'listing/listingstructure.html' %}
{% block title %}Page title goes here{% endblock %}

{% block image %}
<img src="{{ url_for('static', filename='/img/car1.png') }}">
{% endblock %}

{% block details %}<legend>Beautiful 2018 Mclaren</legend>

shoobywoobly
<!-- Description -->
<div class="form-group" style="padding-top: 10px">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Description:</p>
        </div>
        <div class="col-8">
            <p>This is my Mclaren which I have enjoyed very much over the last 2 years but now it is
                time to
                move onto something new, well maintained.
            </p>
        </div>
    </div>
</div>


<!-- Location -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Location:</p>
        </div>
        <div class="col-8">
            <p>Brisbane.</p>
        </div>
    </div>
</div>

<!-- Year -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Year:</p>
        </div>
        <div class="col-8">
            <p>2018</p>
        </div>
    </div>
</div>

<!-- Make -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Make:</p>
        </div>
        <div class="col-8">
            <p>Mclaren</p>
        </div>
    </div>
</div>

<!-- Model -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Model:</p>
        </div>
        <div class="col-8">
            <p>720S</p>
        </div>
    </div>
</div>

<!-- Transmission -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Transmission:</p>
        </div>
        <div class="col-8">
            <p>Automatic</p>
        </div>
    </div>
</div>

<!-- Body Type -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Body type:</p>
        </div>
        <div class="col-8">
            <p>Sport</p>
        </div>
    </div>
</div>

<!-- Fuel Type -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <p style="text-align: right;">Fuel type:</p>
        </div>
        <div class="col-8">
            <p>Petrol</p>
        </div>
    </div>
</div>

<!-- Please a Bid -->
<div class="form-group">
    <div class="row">
        <div class="col-2">
            <input id="" name="" placeholder="Enter bid($)" class="form-control" required="" type="number">
        </div>
        <div class="col-8">
            <button id="listing-button" name="listing-button" class="btn btn-success">Place Bid</button>
        </div>
    </div>
</div>


<!-- !JINJA2
if (added to watch list){
    remove from watchlist button
}
else {
    add to watchlist button
}
-->
<div class="form-group">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <button id="listing-button" name="listing-button" class="btn btn-primary">Add to
                watchlist</button>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <button id="listing-button" name="listing-button" class="btn btn-primary">Remove from watchlist</button>
        </div>
    </div>
</div>

<!-- Close auction -->
<!-- !JINJA2
if (logged in & this is the users listing){ 
    CLOSE AUCTION button
}
-->
<div class="form-group">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <button id="listing-button" name="listing-button" class="btn btn-danger">Close Auction</button>
        </div>
    </div>
</div>
{% endblock %}